# Хост базы данных
HOST=localhost

# Имя базы данных
DATABASE=employers_vacancy

# Имя пользователя базы данных
USERNAME=your_username

# Пароль пользователя базы данных
PASSWORD=your_password

# Порт базы данных (обычно 5432 для PostgreSQL)
PORT=5432